table {
    width: 80vw;
    border-radius: 17px;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0px 5px 35px rgb(15, 15, 20);
}

tr {
    width: 100%;
    text-align: center;
    height: 75px;
}

.header-table {
    width: 100%;
    background-color: rgb(51, 55, 65);
}

th {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(1, 206, 114);
    font-weight: 600;
}